.wrapper {
  display: flex;
  gap: 20px;
  & > * {
    flex: 0 0 280px;
    @media (max-width: 768px) {
      flex: 0 0 200px;
    }
    @media (max-width: 540px) {
      flex: 0 0 120px;
    }
  }
}
