.header {
  font-size: 26px;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.content {
  margin: 40px 0px 0px 0px;
  display: grid;
  gap: 40px;
  grid-template: 1fr / 1fr 0.7fr;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
