.wrapper {
  margin: 20px 0px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.header {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.text {
  font-size: 16px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
